<%- include('header') %> 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Availability</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="add">            
            <form action="/classes" method="post">
              <div class="row">
                <div class="col">
                  <label for="professor">Professor</label>
                  
                  <select name="Prof_ID" id="professor" class="add">
                    <% for(var i=0; i<prof.length; i++) {%>

                    <option  value=<%=prof[i].ProfessorID %> ><%=prof[i].Fname%> <%=prof[i].Lname%></option>
                
                     <%}%>
                  </select>
                </div>

                <div class="col">
                  <label for="course">Course</label>
                  <select name="Cour_ID"  id="course" class="add">
                    <% for(var i=0; i<course.length; i++) {%>
                      <option  value=<%=course[i].CourseID %>> <%=course[i].Course_Name%> <%=course[i].Course_Code%></option>
                  
                       <%}%>
                  </select>
                </div>

                <div class="col">
                  <label for="AvailabilityType">Availability Type</label>
                  <select name="Availability_Type" id="AvailabilityType" class="add">
                    <option value="Online">Online</option>
                    <option value="In-person">In-person</option>
                    <option value="Asynchronous">Asynchronous</option>
                  </select>
                </div>

                
              </div>

              <div class="row">
                <div class="col">
                  <label for="weekday">Week Day</label>
                  <select name="day" id="weekday" class="add">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                  </select>
                </div>

                <div class="col">
                  <label for="startTime">Start Time</label>
                  <select name="Availability_Duration" id="startTime" class="add">
                    <option value="08:15 AM">8:15 AM</option>
                    <option value="08:30 AM">8:30 AM</option>
                    <option value="08:45 AM">8:45 AM</option>
                    <option value="09:00 AM">9:00 AM</option>
                    <option value="09:15 AM">9:15 AM</option>
                    <option value="09:30 AM">9:30 AM</option>
                    <option value="09:45 AM">9:45 AM</option>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="10:15 AM">10:15 AM</option>
                    <option value="10:30 AM">10:30 AM</option>
                    <option value="10:45 AM">10:45 AM</option>
                    <option value="11:00 AM">11:00 AM</option>
                    <option value="11:15 AM">11:15 AM</option>
                    <option value="11:30 AM">11:30 AM</option>
                    <option value="11:45 AM">11:45 AM</option>
                    <option value="12:00 PM">12:00 PM</option>
                    <option value="12:15 PM">12:15 PM</option>
                    <option value="12:30 PM">12:30 PM</option>
                    <option value="12:45 PM">12:45 PM</option>
                    <option value="01:00 PM">1:00 PM</option>
                    <option value="01:15 PM">1:15 PM</option>
                    <option value="01:30 PM">1:30 PM</option>
                    <option value="01:45 PM">1:45 PM</option>
                    <option value="02:00 PM">2:00 PM</option>
                    <option value="02:15 PM">2:15 PM</option>
                    <option value="02:30 PM">2:30 PM</option>
                    <option value="02:45 PM">2:45 PM</option>
                    <option value="03:00 PM">3:00 PM</option>
                    <option value="03:15 PM">3:15 PM</option>
                    <option value="03:30 PM">3:30 PM</option>
                    <option value="03:45 PM">3:45 PM</option>
                    <option value="04:00 PM">4:00 PM</option>
                    <option value="04:15 PM">4:15 PM</option>
                    <option value="04:30 PM">4:30 PM</option>
                    <option value="04:45 PM">4:45 PM</option>
                    <option value="05:00 PM">5:00 PM</option>
                    <option value="05:15 PM">5:15 PM</option>
                    <option value="05:30 PM">5:30 PM</option>
                    <option value="05:45 PM">5:45 PM</option>
                    <option value="06:00 PM">6:00 PM</option>
                    <option value="06:15 PM">6:15 PM</option>
                    <option value="06:30 PM">6:30 PM</option>
                    <option value="06:45 PM">6:45 PM</option>
                    <option value="07:00 PM">7:00 PM</option>
                  
                  </select>
                </div>

                <div class="col">
                  <label for="duration">Enter Duration</label>
                  <select name="time" id="duration" class="add">
                    <option value="1">1 hr</option>
                    <option value="01:15">1:15 hr</option>
                    <option value="01:30">1:30 hr</option>
                    <option value="01:45">1:45 hr</option>
                    <option value="02:00">2 hr</option>
                    <option value="02:15">2:15 hr</option>
                    <option value="02:30">2:30 hr</option>
                    <option value="02:45">2:45 hr</option>
                    <option value="03:00">3:00 hr</option>
                  </select>
                </div>
                  
                

              </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add availability </button>
      </div>
            </form>
          </div>
      </div>
      
    </div>
  </div>
</div>



<div class="container hd-pg justify-content-end">
  <div class="row">
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Frequency
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Every Semester</a>
        <a class="dropdown-item" href="#">Every Fall</a>
        <a class="dropdown-item" href="#">Every Spring</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Type
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">In-Person</a>
        <a class="dropdown-item" href="#">Online</a>
        <a class="dropdown-item" href="#">Hybrid</a>
      </div>
    </div>

    <button type="button" class="add-btn btn add btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Availability
    </button>

  </div>
  <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
            <th>Professor Name</th>
            <th>Course</th>
             <th>Day</th>
             <th>Time</th>
            <th>Duration</th>
            <th>Type</th>
          </tr>
      </thead>
      <tbody>
        
        <% for(var i=0; i<rows.length; i++) {%>
        <tr>
            <td><%=rows[i].Prof_ID%></td>
            <td><%=rows[i].Cour_ID%></td>
            <td><%=rows[i].TSlot_ID%></td>
            <td><%=rows[i].TSlot_ID%></td>
            <td><%=rows[i].Availability_Duration%></td>
            <td><%=rows[i].Availability_Type%></td>
          </tr>
       <% } %>
          
       <!--
          <tr>
            <td>Dr. Johnson</td>
            <td>CS202</td>
            <td>Tu-Th</td>
            <td>Not Available</td>
            <td>9am - 12pm</td>
            <td>9am - 12pm</td>
            <td>9am - 5pm</td>
          </tr>
          <tr>
            <td>Dr. Williams</td>
            <td>EE301</td>
            <td>M-F</td>
            <td>9am - 12pm</td>
            <td>1pm - 4pm</td>
            <td>9am - 12pm</td>
            <td>1pm - 4pm</td>
          </tr>-->
          <!-- Add more rows as needed -->
      </tbody>
  </table>
</div>

<script>
  // Initialize DataTable
  $(document).ready(function() {
      $('#example').DataTable();
  });

  // Add your JavaScript code for handling the "Add Course" button here
  $('#addCourseButton').click(function() {
      // You can add code to open a modal or perform other actions when the button is clicked.
      alert('Add Course button clicked');
  });
</script>

<%- include('footer') %> 

