<%- include('header') %> 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Course</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="add">            
            <form>
              <div class="row">
                <div class="col">
                  <label for="courseName">Course Name</label>
                  <input type="text" id="courseName" class="add" placeholder="Enter course name" />
                </div>
                <div class="col">
                  <label for="courseMajor">Course Major</label>
                  <select id="courseMajor" class="add">
                    <option value="CS">Computer Science</option>
                    <option value="EE">Electrical Engineering</option>
                    <option value="Robotics">Robotics</option>
                  </select>
                </div>
                <div class="col">
                  <label for="courseType">Course Type</label>
                  <select id="courseType" class="add">
                    <option value="online">Online (Synchronous)</option>
                    <option value="async">Online (Asynchronous)</option>
                    <option value="inPerson">In-person</option>
                  </select>
                </div>
              </div>
              <div class="row">
                
                <div class="col">
                  <label for="courseCode">Course Code</label>
                  <input type="text" id="courseCode" class="add" placeholder="course code" />
                </div>

                <div class="col">
                  <label for="courseLevel">Course Level</label>
                  <select id="courseLevel" class="add">
                    <option value="Freshman">Freshman</option>
                  </select>
                </div>

                <div class="col">
                  <label for="CourseYear">Course Year</label>
                  <input type="text" id="CourseYear" name="professor[]" class="add" placeholder="Enter course year" />
                </div>
                
              </div>
              <div class="row">
                <div class="col">
                  <label for="courseDuration">Course Duration</label>
                  <select id="courseDuration" class="add">
                    <option value="Monday">1 hr</option>
                    <option value="Tuesday">1:15 hr</option>
                    <option value="Wednesday">1:30 hr</option>
                    <option value="Thursday">1:45 hr</option>
                    <option value="Friday">2 hr</option>
                    <option value="Friday">2:15 hr</option>
                    <option value="Friday">2:30 hr</option>
                    <option value="Friday">2:45 hr</option>
                    <option value="Friday">3:00 hr</option>
                  </select>
                </div>
              </div>
    
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="container hd-pg justify-content-end">
  <div class="row">
    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Course Major
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Computer Science</a>
        <a class="dropdown-item" href="#">Information Systems</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
        Type
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">In-Person</a>
        <a class="dropdown-item" href="#">Online</a>
        <a class="dropdown-item" href="#">Hybrid</a>
      </div>
    </div>

    <button type="button" class="add-btn btn add btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Course
    </button>

  </div>
  <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
            <th>Course Name</th>
            <th>Course Code</th>
            <th>Course Type</th>
          
          </tr>
      </thead>
      
     
    
     

      <tbody>
        <% for(let i=0;i<rows.length;i++) {%>
          <tr>
           <td><%=rows[i].Course_Name%> </td>
           <td><%=rows[i].Course_Code%> </td>
           <td><%=rows[i].Course_Type%> </td>


         
          </tr>

        <%}%>
          <!-- Add more rows as needed -->
      </tbody>
  </table>
</div>

<script>
  // Initialize DataTable
  $(document).ready(function() {
      $('#example').DataTable();
  });

  // Add your JavaScript code for handling the "Add Course" button here
  $('#addCourseButton').click(function() {
      // You can add code to open a modal or perform other actions when the button is clicked.
      alert('Add Course button clicked');
  });
</script>

<%- include('footer') %> 